<% provide(:title, 'Log In') %>
<div class="page-view">
  <div class="d-flex top-bar atomic-purple align-items-center justify-content-between">
    <a href="<%= root_url %>">
      <%= display_svg('white_back_arrow.svg') %>
    </a>
    <span class="top-bar-title">LOGIN</span>
    <%= submit_tag 'Log In', form: 'login-form', class: 'top-bar-action' %>
  </div>

  <%= form_with url: sessions_path, local: true, class: 'form-container', id: 'login-form' do |f| %>
    <%= f.email_field :email, placeholder: 'Email', class: 'form-input' %>
    <div class="form-divider"></div>
    <%= f.password_field :password, placeholder: 'Password', class: 'form-input'%>
  <% end %>

  <div class="d-flex justify-content-center">
    <a href="<%= '/password-reset' %>" class="password-recovery">Forgot password ?</a>
  </div>
</div>
